extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Arturo Pellicer

       
        p.lead.text-light
          | Web Developer.

        .portfolio-bio
          p
            |Hi, I'm Arturo Pellicer, I am a Developer. After having studied
            |a Bachelor Degree in Engineering ICT Management, working as a Networking technician and
            |later working as a Customer Success in a Software Company I wanted to specialize in web development.
            |Currently I'm enrroll in a code Bootcamp to perfect my full stack Javascript skills.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Javascript
          li ExpressJs
          li HTML
          li CSS
          li TCP/IP LAN Network
        h6 Contact Info

        
        ul
          li 555-555-1234
          li arturo@example.com

        
        a.button.expanded(href='https://se.linkedin.com/in/arturopellicer' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/apellicerep' target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  